In [14]:
import os
import pandas as pd
from sqlalchemy import create_engine
from queries import *

In [5]:
engine = create_engine(DATABASE_URL)
df_u = pd.read_sql_table('Users', engine)
df_u.head()

,user_id,display_name,spotify_url,image_url,followers,date_created,last_updated,last_recommended
0,chiazling,chiazling,https://open.spotify.com/user/chiazling,https://i.scdn.co/image/ab6775700000ee853de819...,9,2021-01-17 10:51:55.588863,2021-01-17 10:52:03.507671,2021-01-17 10:52:08.775598
1,12120382831,Bin Xuan Kong,https://open.spotify.com/user/12120382831,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,53,2021-01-05 16:01:39.106837,2021-01-17 06:30:26.408313,2021-01-17 06:30:30.632326
2,21hux2gyl4xixniuzudnjscli,Timmy Timmy,https://open.spotify.com/user/21hux2gyl4xixniu...,https://platform-lookaside.fbsbx.com/platform/...,15,2021-01-17 07:08:51.757010,2021-01-17 07:08:56.108416,2021-01-17 07:08:59.567804
3,12179805550,Clement Tan,https://open.spotify.com/user/12179805550,https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/...,61,2021-01-06 15:51:34.460870,2021-01-06 15:53:41.620661,NaT
4,12153521253,Thivya Dharishinie,https://open.spotify.com/user/12153521253,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,46,2021-01-05 09:12:10.904861,2021-01-17 07:42:45.510814,2021-01-17 07:42:49.649742

In [11]:
df_u = df_u.dropna(subset=['last_recommended'])
df_u.head()

,user_id,display_name,spotify_url,image_url,followers,date_created,last_updated,last_recommended
0,chiazling,chiazling,https://open.spotify.com/user/chiazling,https://i.scdn.co/image/ab6775700000ee853de819...,9,2021-01-17 10:51:55.588863,2021-01-17 10:52:03.507671,2021-01-17 10:52:08.775598
1,12120382831,Bin Xuan Kong,https://open.spotify.com/user/12120382831,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,53,2021-01-05 16:01:39.106837,2021-01-17 06:30:26.408313,2021-01-17 06:30:30.632326
2,21hux2gyl4xixniuzudnjscli,Timmy Timmy,https://open.spotify.com/user/21hux2gyl4xixniu...,https://platform-lookaside.fbsbx.com/platform/...,15,2021-01-17 07:08:51.757010,2021-01-17 07:08:56.108416,2021-01-17 07:08:59.567804
4,12153521253,Thivya Dharishinie,https://open.spotify.com/user/12153521253,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,46,2021-01-05 09:12:10.904861,2021-01-17 07:42:45.510814,2021-01-17 07:42:49.649742
6,1287859597,Veenosh Arveen,https://open.spotify.com/user/1287859597,https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/...,47,2021-01-17 03:34:40.015179,2021-01-17 12:58:02.020365,2021-01-17 14:14:55.695929

In [12]:
user_ids = df_u['user_id'].tolist()
user_ids

['chiazling',
 '12120382831',
 '21hux2gyl4xixniuzudnjscli',
 '12153521253',
 '1287859597',
 'karinalaq',
 '22kznbnbgfpk7z3eyk72o5kdi',
 'area712',
 'kenjichaiee',
 '1279967390']

In [15]:
dict_list = []

for i in range(len(user_ids)):
    for j in range(i+1, len(user_ids)):
        if i != j:
            u1 = user_ids[i]
            u2 = user_ids[j]
            final_points, users, similar_artists, similar_tracks, similar_genres = compare_users(u1, u2)
            dict_list.append({'u1': u1, 'u2': u2, 'score': final_points})

Comparing chiazling and Bin Xuan Kong...
Short term music taste similarity: 29.20
Medium term music taste similarity: 34.20
Long term music taste similarity: 35.17
Overall music taste similarity: 32.46
Comparing chiazling and Timmy Timmy...
Short term music taste similarity: 14.93
Medium term music taste similarity: 21.30
Long term music taste similarity: 25.69
Overall music taste similarity: 19.92
Comparing chiazling and Thivya Dharishinie...
Short term music taste similarity: 19.58
Medium term music taste similarity: 21.91
Long term music taste similarity: 31.17
Overall music taste similarity: 23.45
Comparing chiazling and Veenosh Arveen...
Short term music taste similarity: 11.82
Medium term music taste similarity: 20.02
Long term music taste similarity: 28.37
Overall music taste similarity: 18.96
Comparing chiazling and Karina Lee...
Short term music taste similarity: 19.48
Medium term music taste similarity: 27.75
Long term music taste similarity: 35.74
Overall music taste similarity: 26.57
Comparing chiazling and Jason Pereira...
Short term music taste similarity: 21.33
Medium term music taste similarity: 22.49
Long term music taste similarity: 28.60
Overall music taste similarity: 23.65
Comparing chiazling and Gary Wong...
Short term music taste similarity: 36.11
Medium term music taste similarity: 44.00
Long term music taste similarity: 48.79
Overall music taste similarity: 42.12
Comparing chiazling and Kenji Chai...
Short term music taste similarity: 12.34
Medium term music taste similarity: 15.22
Long term music taste similarity: 24.44
Overall music taste similarity: 16.53
Comparing chiazling and Jae Sheng Ang...
Short term music taste similarity: 36.90
Medium term music taste similarity: 38.85
Long term music taste similarity: 37.42
Overall music taste similarity: 37.69
Comparing Bin Xuan Kong and Timmy Timmy...
Short term music taste similarity: 25.08
Medium term music taste similarity: 30.17
Long term music taste similarity: 42.20
Overall music taste similarity: 31.34
Comparing Bin Xuan Kong and Thivya Dharishinie...
Short term music taste similarity: 47.37
Medium term music taste similarity: 40.01
Long term music taste similarity: 39.98
Overall music taste similarity: 42.94
Comparing Bin Xuan Kong and Veenosh Arveen...
Short term music taste similarity: 24.46
Medium term music taste similarity: 39.58
Long term music taste similarity: 47.95
Overall music taste similarity: 35.76
Comparing Bin Xuan Kong and Karina Lee...
Short term music taste similarity: 26.64
Medium term music taste similarity: 31.18
Long term music taste similarity: 29.04
Overall music taste similarity: 28.79
Comparing Bin Xuan Kong and Jason Pereira...
Short term music taste similarity: 27.78
Medium term music taste similarity: 30.86
Long term music taste similarity: 32.35
Overall music taste similarity: 30.03
Comparing Bin Xuan Kong and Gary Wong...
Short term music taste similarity: 33.75
Medium term music taste similarity: 35.05
Long term music taste similarity: 33.32
Overall music taste similarity: 34.07
Comparing Bin Xuan Kong and Kenji Chai...
Short term music taste similarity: 14.00
Medium term music taste similarity: 17.80
Long term music taste similarity: 24.66
Overall music taste similarity: 18.11
Comparing Bin Xuan Kong and Jae Sheng Ang...
Short term music taste similarity: 28.11
Medium term music taste similarity: 39.47
Long term music taste similarity: 36.22
Overall music taste similarity: 34.06
Comparing Timmy Timmy and Thivya Dharishinie...
Short term music taste similarity: 19.03
Medium term music taste similarity: 25.09
Long term music taste similarity: 29.37
Overall music taste similarity: 23.81
Comparing Timmy Timmy and Veenosh Arveen...
Short term music taste similarity: 24.01
Medium term music taste similarity: 28.39
Long term music taste similarity: 34.45
Overall music taste similarity: 28.25
Comparing Timmy Timmy and Karina Lee...
Short term music taste similarity: 13.83
Medium term music taste similarity: 21.41
Long term music taste similarity: 21.50
Overall music taste similarity: 18.40
Comparing Timmy Timmy and Jason Pereira...
Short term music taste similarity: 19.47
Medium term music taste similarity: 26.52
Long term music taste similarity: 29.41
Overall music taste similarity: 24.47
Comparing Timmy Timmy and Gary Wong...
Short term music taste similarity: 20.25
Medium term music taste similarity: 25.91
Long term music taste similarity: 30.85
Overall music taste similarity: 24.96
Comparing Timmy Timmy and Kenji Chai...
Short term music taste similarity: 9.77
Medium term music taste similarity: 11.50
Long term music taste similarity: 13.42
Overall music taste similarity: 11.32
Comparing Timmy Timmy and Jae Sheng Ang...
Short term music taste similarity: 15.63
Medium term music taste similarity: 25.96
Long term music taste similarity: 26.55
Overall music taste similarity: 21.99
Comparing Thivya Dharishinie and Veenosh Arveen...
Short term music taste similarity: 20.04
Medium term music taste similarity: 37.16
Long term music taste similarity: 41.83
Overall music taste similarity: 31.55
Comparing Thivya Dharishinie and Karina Lee...
Short term music taste similarity: 28.58
Medium term music taste similarity: 37.35
Long term music taste similarity: 40.82
Overall music taste similarity: 34.77
Comparing Thivya Dharishinie and Jason Pereira...
Short term music taste similarity: 21.90
Medium term music taste similarity: 39.17
Long term music taste similarity: 33.76
Overall music taste similarity: 30.82
Comparing Thivya Dharishinie and Gary Wong...
Short term music taste similarity: 21.25
Medium term music taste similarity: 24.74
Long term music taste similarity: 29.01
Overall music taste similarity: 24.48
Comparing Thivya Dharishinie and Kenji Chai...
Short term music taste similarity: 11.27
Medium term music taste similarity: 20.41
Long term music taste similarity: 22.80
Overall music taste similarity: 17.39
Comparing Thivya Dharishinie and Jae Sheng Ang...
Short term music taste similarity: 21.16
Medium term music taste similarity: 27.05
Long term music taste similarity: 36.09
Overall music taste similarity: 27.11
Comparing Veenosh Arveen and Karina Lee...
Short term music taste similarity: 12.69
Medium term music taste similarity: 27.19
Long term music taste similarity: 27.41
Overall music taste similarity: 21.45
Comparing Veenosh Arveen and Jason Pereira...
Short term music taste similarity: 15.31
Medium term music taste similarity: 28.75
Long term music taste similarity: 29.35
Overall music taste similarity: 23.53
Comparing Veenosh Arveen and Gary Wong...
Short term music taste similarity: 15.34
Medium term music taste similarity: 22.85
Long term music taste similarity: 23.99
Overall music taste similarity: 20.15
Comparing Veenosh Arveen and Kenji Chai...
Short term music taste similarity: 11.30
Medium term music taste similarity: 17.18
Long term music taste similarity: 27.53
Overall music taste similarity: 17.59
Comparing Veenosh Arveen and Jae Sheng Ang...
Short term music taste similarity: 13.26
Medium term music taste similarity: 27.10
Long term music taste similarity: 31.77
Overall music taste similarity: 22.81
Comparing Karina Lee and Jason Pereira...
Short term music taste similarity: 22.84
Medium term music taste similarity: 32.19
Long term music taste similarity: 31.28
Overall music taste similarity: 28.21
Comparing Karina Lee and Gary Wong...
Short term music taste similarity: 22.93
Medium term music taste similarity: 31.51
Long term music taste similarity: 33.86
Overall music taste similarity: 28.71
Comparing Karina Lee and Kenji Chai...
Short term music taste similarity: 11.29
Medium term music taste similarity: 14.19
Long term music taste similarity: 24.98
Overall music taste similarity: 15.91
Comparing Karina Lee and Jae Sheng Ang...
Short term music taste similarity: 23.37
Medium term music taste similarity: 34.40
Long term music taste similarity: 34.92
Overall music taste similarity: 30.13
Comparing Jason Pereira and Gary Wong...
Short term music taste similarity: 24.30
Medium term music taste similarity: 26.61
Long term music taste similarity: 32.00
Overall music taste similarity: 27.12
Comparing Jason Pereira and Kenji Chai...

Short term music taste similarity: 12.47
Medium term music taste similarity: 16.66
Long term music taste similarity: 19.35
Overall music taste similarity: 15.70
Comparing Jason Pereira and Jae Sheng Ang...
Short term music taste similarity: 20.69
Medium term music taste similarity: 26.23
Long term music taste similarity: 29.62
Overall music taste similarity: 24.92
Comparing Gary Wong and Kenji Chai...
Short term music taste similarity: 10.36
Medium term music taste similarity: 11.49
Long term music taste similarity: 15.57
Overall music taste similarity: 12.12
Comparing Gary Wong and Jae Sheng Ang...
Short term music taste similarity: 35.64
Medium term music taste similarity: 35.56
Long term music taste similarity: 31.17
Overall music taste similarity: 34.42
Comparing Kenji Chai and Jae Sheng Ang...
Short term music taste similarity: 14.23
Medium term music taste similarity: 16.24
Long term music taste similarity: 29.88
Overall music taste similarity: 19.07

In [21]:
df = pd.DataFrame.from_dict(dict_list)
df['u1_name'] = df['u1'].map(df_u.set_index('user_id')['display_name'])
df['u2_name'] = df['u2'].map(df_u.set_index('user_id')['display_name'])
df.head()

,u1,u2,score,u1_name,u2_name
0,chiazling,12120382831,0.324553,chiazling,Bin Xuan Kong
1,chiazling,21hux2gyl4xixniuzudnjscli,0.199242,chiazling,Timmy Timmy
2,chiazling,12153521253,0.234458,chiazling,Thivya Dharishinie
3,chiazling,1287859597,0.189640,chiazling,Veenosh Arveen
4,chiazling,karinalaq,0.265722,chiazling,Karina Lee

In [34]:
df_top = df.sort_values(by='score', ascending=False)
df_top.head()

             u1           u2     score             u1_name             u2_name
10  12120382831  12153521253  0.429446       Bin Xuan Kong  Thivya Dharishinie
6     chiazling      area712  0.421199           chiazling           Gary Wong
8     chiazling   1279967390  0.376905           chiazling       Jae Sheng Ang
11  12120382831   1287859597  0.357636       Bin Xuan Kong      Veenosh Arveen
25  12153521253    karinalaq  0.347651  Thivya Dharishinie          Karina Lee

In [26]:
name = '12120382831'
df_top.loc[(df_top['u1'] == name) | (df_top['u2'] == name)]

,u1,u2,score,u1_name,u2_name
10,12120382831,12153521253,0.429446,Bin Xuan Kong,Thivya Dharishinie
11,12120382831,1287859597,0.357636,Bin Xuan Kong,Veenosh Arveen
14,12120382831,area712,0.340696,Bin Xuan Kong,Gary Wong
16,12120382831,1279967390,0.340573,Bin Xuan Kong,Jae Sheng Ang
0,chiazling,12120382831,0.324553,chiazling,Bin Xuan Kong
9,12120382831,21hux2gyl4xixniuzudnjscli,0.313416,Bin Xuan Kong,Timmy Timmy
13,12120382831,22kznbnbgfpk7z3eyk72o5kdi,0.300266,Bin Xuan Kong,Jason Pereira
12,12120382831,karinalaq,0.287915,Bin Xuan Kong,Karina Lee
15,12120382831,kenjichaiee,0.181086,Bin Xuan Kong,Kenji Chai

In [51]:
query = """
select ta2.user_id, u.display_name, u.image_url, sum(100 - greatest(ta1.rank, ta2.rank) - abs(ta1.rank - ta2.rank)) as point
from "TopArtists" ta1
left join "TopArtists" ta2
on ta1.artist_id = ta2.artist_id
and ta1.user_id <> ta2.user_id
join "Users" u
on ta2.user_id = u.user_id
where ta1.user_id = %(user_id)s
group by ta2.user_id, u.display_name, u.image_url
order by point desc
limit 10
"""

def get_similar_users(user_id):
    tf_weights = {'Short': 6, 'Medium': 5, 'Long': 4}
    mu_weights = {'artist': 4, 'track': 1, 'genre': 6, 'feature': 2}

    df_u = pd.read_sql(query, engine, params={'user_id': user_id})
    users = [user_id] + df_u['user_id'].tolist()
    df_a = pd.read_sql(top_artists2_query, engine, params={'user_ids': tuple(users)})
    df_t = pd.read_sql(top_tracks2_query, engine, params={'user_ids': tuple(users)})
    df_g = pd.read_sql(top_genres2_query, engine, params={'user_ids': tuple(users)})
    df_m = pd.read_sql(music_features2_query, engine, params={'user_ids': tuple(users)})
    # User 1
    u1_a = df_a.loc[df_a['user_id'] == user_id]
    u1_t = df_t.loc[df_t['user_id'] == user_id]
    u1_g = df_g.loc[df_g['user_id'] == user_id]
    u1_m = df_m.loc[df_m['user_id'] == user_id]

    dict_list = []

    for _, row in df_u.iterrows():
        u2 = row['user_id']
        u2_a = df_a.loc[df_a['user_id'] == u2]
        u2_t = df_t.loc[df_t['user_id'] == u2]
        u2_g = df_g.loc[df_g['user_id'] == u2]
        u2_m = df_m.loc[df_m['user_id'] == u2]
        points = 0
        for timeframe in ['Short', 'Medium', 'Long']:
            tf_points = 0
            df_artist = get_artist_similarity(u1_a, u2_a, timeframe)
            tf_points += mu_weights['artist'] * calculate_similarity(df_artist)
            df_track = get_track_similarity(u1_t, u2_t, timeframe)
            tf_points += mu_weights['track'] * calculate_similarity(df_track)
            df_genre = get_genre_similarity(u1_g, u2_g, timeframe)
            tf_points += mu_weights['genre'] * calculate_similarity(df_genre)
            tf_points += mu_weights['feature'] * calculate_feature_similarity(u1_m, u2_m)
            tf_points /= sum(mu_weights.values())
            points += tf_weights[timeframe] * tf_points
        points /= sum(tf_weights.values())
        dict_list.append({
            'user_id': u2,
            'display_name': row['display_name'],
            'image_url': row['image_url'],
            'points': points
        })

    return pd.DataFrame.from_dict(dict_list).sort_values(by='points', ascending=False)

In [52]:
get_similar_users('12153521253')

,user_id,display_name,image_url,points
0,12120382831,Bin Xuan Kong,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,0.429446
1,karinalaq,Karina Lee,https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/...,0.347651
2,1287859597,Veenosh Arveen,https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/...,0.315547
4,22kznbnbgfpk7z3eyk72o5kdi,Jason Pereira,https://platform-lookaside.fbsbx.com/platform/...,0.308159
3,12179805550,Clement Tan,https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/...,0.288744
5,1279967390,Jae Sheng Ang,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,0.271073
6,area712,Gary Wong,https://i.scdn.co/image/ab6775700000ee85082a2b...,0.244826
7,21hux2gyl4xixniuzudnjscli,Timmy Timmy,https://platform-lookaside.fbsbx.com/platform/...,0.238068
8,chiazling,chiazling,https://i.scdn.co/image/ab6775700000ee853de819...,0.234458
9,bingxuan98,bingxuan98,None,0.178793