In [1]:
import pandas as pd
from secrets import localhost_db, localhost_db2, postgres_db, do_db
from sqlalchemy import create_engine
from sshtunnel import SSHTunnelForwarder
from queries import *

In [2]:
engine = create_engine(localhost_db2)
#engine = create_engine(postgres_db)
df1 = pd.read_sql_table('Artists', engine)
df2 = pd.read_sql_table('DailyMix', engine)
df3 = pd.read_sql_table('MusicFeatures', engine)
df4 = pd.read_sql_table('RecommendArtists', engine)
df5 = pd.read_sql_table('RecommendTracks', engine)
df6 = pd.read_sql_table('TempArtists', engine)
df7 = pd.read_sql_table('TempTracks', engine)
df8 = pd.read_sql_table('TopArtists', engine)
df9 = pd.read_sql_table('TopTracks', engine)
df10 = pd.read_sql_table('TopGenres', engine)
df11 = pd.read_sql_table('Tracks', engine)
df12 = pd.read_sql_table('UserProfiles', engine)
df13 = pd.read_sql_table('Users', engine)
engine.dispose()

In [3]:
df13.head()

,user_id,display_name,spotify_url,image_url,followers,date_created,last_updated,last_recommended
0,chiazling,chiazling,https://open.spotify.com/user/chiazling,https://i.scdn.co/image/ab6775700000ee853de819...,9,2021-01-17 10:51:55.588863,2021-01-17 10:52:03.507671,2021-01-17 10:52:08.775598
1,12120382831,Bin Xuan Kong,https://open.spotify.com/user/12120382831,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,53,2021-01-05 16:01:39.106837,2021-01-17 06:30:26.408313,2021-01-17 06:30:30.632326
2,21hux2gyl4xixniuzudnjscli,Timmy Timmy,https://open.spotify.com/user/21hux2gyl4xixniu...,https://platform-lookaside.fbsbx.com/platform/...,15,2021-01-17 07:08:51.757010,2021-01-17 07:08:56.108416,2021-01-17 07:08:59.567804
3,12179805550,Clement Tan,https://open.spotify.com/user/12179805550,https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-1/...,61,2021-01-06 15:51:34.460870,2021-01-06 15:53:41.620661,NaT
4,12153521253,Thivya Dharishinie,https://open.spotify.com/user/12153521253,https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-1/...,46,2021-01-05 09:12:10.904861,2021-01-17 07:42:45.510814,2021-01-17 07:42:49.649742

In [ ]:
engine2 = create_engine(localhost_db2)
df1.to_sql('Artists', engine2, index=False, if_exists='replace')
df2.to_sql('DailyMix', engine2, index=False, if_exists='replace')
df3.to_sql('MusicFeatures', engine2, index=False, if_exists='replace')
df4.to_sql('RecommendArtists', engine2, index=False, if_exists='replace')
df5.to_sql('RecommendTracks', engine2, index=False, if_exists='replace')
df6.to_sql('TempArtists', engine2, index=False, if_exists='replace')
df7.to_sql('TempTracks', engine2, index=False, if_exists='replace')
df8.to_sql('TopArtists', engine2, index=False, if_exists='replace')
df9.to_sql('TopTracks', engine2, index=False, if_exists='replace')
df10.to_sql('TopGenres', engine2, index=False, if_exists='replace')
df11.to_sql('Tracks', engine2, index=False, if_exists='replace')
df12.to_sql('UserProfiles', engine2, index=False, if_exists='replace')
df13.to_sql('Users', engine2, index=False, if_exists='replace')
engine2.dispose()

In [ ]:
server = SSHTunnelForwarder(
    (do_db['ip'], do_db['port']),
    ssh_username = do_db['user'],
    ssh_password = do_db['password'],
    remote_bind_address=('127.0.0.1', 5432)
)

server.start()
local_port = str(server.local_bind_port)
engine2 = create_engine('postgresql://{}:{}@{}:{}/{}'.format(do_db['user'], do_db['password'], "127.0.0.1", local_port, "postgres"))

pd.read_sql("SELECT * FROM information_schema.tables WHERE table_schema = 'public'", engine2)

In [ ]:
df1.to_sql('Artists', engine2, index=False, if_exists='replace')
df2.to_sql('DailyMix', engine2, index=False, if_exists='replace')
df3.to_sql('MusicFeatures', engine2, index=False, if_exists='replace')
df4.to_sql('RecommendArtists', engine2, index=False, if_exists='replace')
df5.to_sql('RecommendTracks', engine2, index=False, if_exists='replace')
df6.to_sql('TempArtists', engine2, index=False, if_exists='replace')
df7.to_sql('TempTracks', engine2, index=False, if_exists='replace')
df8.to_sql('TopArtists', engine2, index=False, if_exists='replace')
df9.to_sql('TopTracks', engine2, index=False, if_exists='replace')
df10.to_sql('TopGenres', engine2, index=False, if_exists='replace')
df11.to_sql('Tracks', engine2, index=False, if_exists='replace')
df12.to_sql('UserProfiles', engine2, index=False, if_exists='replace')
df13.to_sql('Users', engine2, index=False, if_exists='replace')

In [ ]:
pd.read_sql("SELECT * FROM information_schema.tables WHERE table_schema = 'public'", engine2)

In [ ]:
engine2.dispose()
server.stop()