In [1]:
import pandas as pd
import spotipy
from secrets import secrets
from spotipy.oauth2 import SpotifyOAuth

In [2]:
sp = spotipy.Spotify(auth_manager=SpotifyOAuth(client_id=secrets["Client Id"],
                                               client_secret=secrets["Client Secret"],
                                               redirect_uri="http://localhost:8892/callback",
                                               scope="user-top-read"))

In [3]:
ranges = {'short_term': 'Short term', 'medium_term': 'Medium term', 'long_term': 'Long term'}
limit = 10

df_top_artists = pd.DataFrame(columns=['Rank', 'Artist', 'Timeframe'])
df_top_tracks = pd.DataFrame(columns=['Rank', 'Track', 'Artist', 'Album', 'Duration', 'Timeframe'])

In [4]:
# Get top artists
for sp_range in ranges.keys():
    results = sp.current_user_top_artists(time_range = sp_range, limit=limit)
    for i, item in enumerate(results['items']):
        df_top_artists.loc[len(df_top_artists)] = [i+1, item['name'], ranges[sp_range]]

In [5]:
df_top_artists.loc[df_top_artists['Timeframe'] == 'Short term']

  Rank              Artist   Timeframe
0    1            RADWIMPS  Short term
1    2                July  Short term
2    3          A$AP Rocky  Short term
3    4         Frank Ocean  Short term
4    5         Igor Longhi  Short term
5    6          DJ Okawari  Short term
6    7             Nujabes  Short term
7    8       Kensuke Ushio  Short term
8    9  Tyler, The Creator  Short term

In [6]:
df_top_artists.loc[df_top_artists['Timeframe'] == 'Medium term']

   Rank              Artist    Timeframe
9     1            Jay Chou  Medium term
10    2            RADWIMPS  Medium term
11    3           blink-182  Medium term
12    4          The Weeknd  Medium term
13    5            Gorillaz  Medium term
14    6              Bassti  Medium term
15    7            San Holo  Medium term
16    8              Sum 41  Medium term
17    9         Frank Ocean  Medium term
18   10  Tyler, The Creator  Medium term

In [7]:
df_top_artists.loc[df_top_artists['Timeframe'] == 'Long term']

   Rank            Artist  Timeframe
19    1        Kanye West  Long term
20    2          Jay Chou  Long term
21    3  Childish Gambino  Long term
22    4        Young Thug  Long term
23    5        The Weeknd  Long term
24    6             Drake  Long term
25    7  The Chainsmokers  Long term
26    8        A$AP Rocky  Long term
27    9          ILLENIUM  Long term
28   10      BROCKHAMPTON  Long term

In [8]:
# Get top track
for sp_range in ranges:
    results = sp.current_user_top_tracks(time_range = sp_range, limit=limit)
    for i, item in enumerate(results['items']):
        track = item['name']
        artist = item['artists'][0]['name']
        album = item['album']['name']
        duration = int(item['duration_ms'])
        minute = int((duration / (1000*60)) % 60)
        second = int((duration / 1000) % 60)
        duration = str(minute) + ':' + str(second)
        df_top_tracks.loc[len(df_top_tracks)] = [i+1, track, artist, album, duration, ranges[sp_range]]

In [9]:
df_top_tracks.loc[df_top_tracks['Timeframe'] == 'Short term']

,Rank,Track,Artist,Album,Duration,Timeframe
0,1,Dancin (feat. Luvli) - Krono Remix,Aaron Smith,Dancin (feat. Luvli) [Krono Remix],3:18,Short term
1,2,Epilogue,Justin Hurwitz,La La Land (Original Motion Picture Soundtrack),7:39,Short term
2,3,Sundress,A$AP Rocky,Sundress,2:38,Short term
3,4,Old Town Road - Remix,Lil Nas X,7 EP,2:37,Short term
4,5,Voice of Wind,RADWIMPS,Weathering With You -Complete Version-,4:13,Short term
5,6,Shooting Stars,Bag Raiders,Bag Raiders (Deluxe),3:55,Short term
6,7,Roundabout,Yes,Yesstory,8:32,Short term
7,8,Baby I'm Yours,Breakbot,By Your Side,3:35,Short term
8,9,Harvest Moon,Handsome Ghost,Harvest Moon,4:7,Short term
9,10,U Got That,Halogen,U Got That,3:7,Short term

In [10]:
df_top_tracks.loc[df_top_tracks['Timeframe'] == 'Medium term']

,Rank,Track,Artist,Album,Duration,Timeframe
10,1,With Me,Sum 41,Underclass Hero,4:51,Medium term
11,2,安靜,Jay Chou,范特西,5:34,Medium term
12,3,珊瑚海,Jay Chou,11月的蕭邦,4:14,Medium term
13,4,Welcome to the Black Parade,My Chemical Romance,The Black Parade,5:11,Medium term
14,5,Wake Me up When September Ends,Green Day,American Idiot,4:45,Medium term
15,6,告白氣球,Jay Chou,周杰倫的床邊故事,3:35,Medium term
16,7,Always,blink-182,Greatest Hits,4:17,Medium term
17,8,明明就,Jay Chou,十二新作,4:20,Medium term
18,9,退後,Jay Chou,依然范特西,4:20,Medium term
19,10,晴天,Jay Chou,葉惠美,4:29,Medium term

In [11]:
df_top_tracks.loc[df_top_tracks['Timeframe'] == 'Long term']

,Rank,Track,Artist,Album,Duration,Timeframe
20,1,Crew (feat. Brent Faiyaz & Shy Glizzy),GoldLink,At What Cost,2:56,Long term
21,2,"A$AP Forever REMIX (feat. Moby, T.I. & Kid Cudi)",A$AP Rocky,TESTING,5:15,Long term
22,3,晴天,Jay Chou,葉惠美,4:29,Long term
23,4,pick up the phone,Young Thug,Birds In The Trap Sing McKnight,4:12,Long term
24,5,Slide (feat. Frank Ocean & Migos),Calvin Harris,Slide (feat. Frank Ocean & Migos),3:50,Long term
25,6,RNP (feat. Anderson .Paak),Cordae,The Lost Boy,2:55,Long term
26,7,Fight Night,Migos,No Label II,3:36,Long term
27,8,Icha Gicha (feat. Pharrell Williams),Kap G,SupaJefe,3:30,Long term
28,9,OKRA,"Tyler, The Creator",OKRA,2:31,Long term
29,10,SICKO MODE,Travis Scott,ASTROWORLD,5:12,Long term