In [1]:
import pandas as pd

user_id = 12120382831
top_artists = pd.read_csv('data/top_artists.csv')
top_tracks = pd.read_csv('data/top_tracks.csv')

In [2]:
top_artists.head()

,user_id,rank,artist,genres,artist_url,timeframe
0,12120382831,1,Jay Chou,c-pop; mandopop; taiwan pop; zhongguo feng,https://open.spotify.com/artist/2elBjNSdBE2Y3f...,Short
1,12120382831,2,Kid Cudi,ohio hip hop; pop rap; rap,https://open.spotify.com/artist/0fA0VVWsXO9YnA...,Short
2,12120382831,3,Joji,alternative r&b; viral pop,https://open.spotify.com/artist/3MZsBdqDrRTJih...,Short
3,12120382831,4,Calvin Harris,dance pop; edm; electro house; house; pop; pop...,https://open.spotify.com/artist/7CajNmpbOovFoO...,Short
4,12120382831,5,Frank Ocean,alternative r&b; hip hop; lgbtq+ hip hop; neo ...,https://open.spotify.com/artist/2h93pZq0e7k5yf...,Short

In [3]:
top_tracks.head()

,user_id,rank,track,artists,album,release_date,track_url,timeframe
0,12120382831,1,安靜,Jay Chou,范特西,2001-09-14,https://open.spotify.com/track/4FOydQ5IdqmdeBg...,Short
1,12120382831,2,With You (Jai Wolf Remix),Dirty South; FMLYBND,With You (The Remixes),2015-04-28,https://open.spotify.com/track/5H2cgEPEJxA72Bq...,Short
2,12120382831,1,安靜,Jay Chou,范特西,2001-09-14,https://open.spotify.com/track/4FOydQ5IdqmdeBg...,Medium
3,12120382831,2,With Me,Sum 41,Underclass Hero,2007-01-01,https://open.spotify.com/track/1OTvWduKQV0MQd2...,Medium
4,12120382831,3,Wake Me up When September Ends,Green Day,American Idiot,2004-09-21,https://open.spotify.com/track/3ZffCQKLFLUvYM5...,Medium

In [4]:
top_artists = top_artists.loc[top_artists['user_id'] == user_id]
top_artists.head()

,user_id,rank,artist,genres,artist_url,timeframe
0,12120382831,1,Jay Chou,c-pop; mandopop; taiwan pop; zhongguo feng,https://open.spotify.com/artist/2elBjNSdBE2Y3f...,Short
1,12120382831,2,Kid Cudi,ohio hip hop; pop rap; rap,https://open.spotify.com/artist/0fA0VVWsXO9YnA...,Short
2,12120382831,3,Joji,alternative r&b; viral pop,https://open.spotify.com/artist/3MZsBdqDrRTJih...,Short
3,12120382831,4,Calvin Harris,dance pop; edm; electro house; house; pop; pop...,https://open.spotify.com/artist/7CajNmpbOovFoO...,Short
4,12120382831,5,Frank Ocean,alternative r&b; hip hop; lgbtq+ hip hop; neo ...,https://open.spotify.com/artist/2h93pZq0e7k5yf...,Short

In [5]:
top_tracks = top_tracks.loc[top_tracks['user_id'] == user_id]
top_tracks.head()

,user_id,rank,track,artists,album,release_date,track_url,timeframe
0,12120382831,1,安靜,Jay Chou,范特西,2001-09-14,https://open.spotify.com/track/4FOydQ5IdqmdeBg...,Short
1,12120382831,2,With You (Jai Wolf Remix),Dirty South; FMLYBND,With You (The Remixes),2015-04-28,https://open.spotify.com/track/5H2cgEPEJxA72Bq...,Short
2,12120382831,1,安靜,Jay Chou,范特西,2001-09-14,https://open.spotify.com/track/4FOydQ5IdqmdeBg...,Medium
3,12120382831,2,With Me,Sum 41,Underclass Hero,2007-01-01,https://open.spotify.com/track/1OTvWduKQV0MQd2...,Medium
4,12120382831,3,Wake Me up When September Ends,Green Day,American Idiot,2004-09-21,https://open.spotify.com/track/3ZffCQKLFLUvYM5...,Medium

In [6]:
def top_to_dict(top_df):
    top_dict = {}
    top_dict['Short'] = top_df.loc[top_df['timeframe'] == 'Short'].to_dict('records')
    top_dict['Medium'] = top_df.loc[top_df['timeframe'] == 'Medium'].to_dict('records')
    top_dict['Long'] = top_df.loc[top_df['timeframe'] == 'Long'].to_dict('records')
    return top_dict

In [9]:
top_artists_dict = top_to_dict(top_artists)
top_tracks_dict = top_to_dict(top_tracks)

In [11]:
top_genres = top_artists[['user_id', 'rank', 'genres', 'timeframe']]
top_genres.head()

,user_id,rank,genres,timeframe
0,12120382831,1,c-pop; mandopop; taiwan pop; zhongguo feng,Short
1,12120382831,2,ohio hip hop; pop rap; rap,Short
2,12120382831,3,alternative r&b; viral pop,Short
3,12120382831,4,dance pop; edm; electro house; house; pop; pop...,Short
4,12120382831,5,alternative r&b; hip hop; lgbtq+ hip hop; neo ...,Short

In [12]:
df = top_genres.loc[top_genres['timeframe'] == 'Short']
df.head()

,user_id,rank,genres,timeframe
0,12120382831,1,c-pop; mandopop; taiwan pop; zhongguo feng,Short
1,12120382831,2,ohio hip hop; pop rap; rap,Short
2,12120382831,3,alternative r&b; viral pop,Short
3,12120382831,4,dance pop; edm; electro house; house; pop; pop...,Short
4,12120382831,5,alternative r&b; hip hop; lgbtq+ hip hop; neo ...,Short

In [25]:
weights = {1: 100, 2: 90, 3: 80, 4: 75, 5: 70}

for i in range(6, 51):
    if i <= 10:
        weights[i] = 60
    elif i <= 15:
        weights[i] = 50
    elif i <= 20:
        weights[i] = 40
    elif i <= 30:
        weights[i] = 30
    elif i <= 40:
        weights[i] = 20
    elif i <= 50:
        weights[i] = 10

In [26]:
top_g = {}
for _, row in df.iterrows():
    points = weights[row['rank']]
    genres = row['genres'].split(';')
    for g in genres:
        if g in top_g:
            top_g[g] += points
        else:
            top_g[g] = points

top_g = {k: v for k, v in sorted(top_g.items(), key=lambda item: item[1], reverse=True)}
print(top_g)

{' pop': 565, ' rap': 450, ' pop dance': 365, ' edm': 295, ' hip hop': 280, ' tropical house': 240, ' electro house': 235, ' pop rap': 200, 'alternative r&b': 150, ' electropop': 150, ' house': 145, ' progressive house': 145, ' punk': 140, 'dance pop': 135, ' pop punk': 130, 'lo-fi beats': 130, ' lo-fi beats': 120, 'chicago rap': 110, 'big room': 110, 'chillhop': 110, 'c-pop': 100, ' mandopop': 100, ' taiwan pop': 100, ' zhongguo feng': 100, ' underground hip hop': 100, 'ohio hip hop': 90, 'hip hop': 90, 'canadian contemporary r&b': 90, 'permanent wave': 90, 'edm': 90, ' viral pop': 80, ' dance pop': 80, ' uk dance': 75, ' lgbtq+ hip hop': 70, ' neo soul': 70, ' canadian pop': 70, ' southern hip hop': 70, ' trap': 70, 'pop punk': 60, ' socal pop punk': 60, ' otacore': 60, ' conscious hip hop': 50, ' chicago house': 50, ' vocal house': 50, 'emo': 50, 'east coast hip hop': 50, ' melodic dubstep': 40, 'alternative metal': 40, ' canadian pop punk': 40, ' canadian punk': 40, ' nu metal': 40, 'escape room': 40, 'anime score': 40, ' japanese soundtrack': 40, ' pop edm': 40, ' japanese chillhop': 40, 'canadian electronic': 30, ' electronic trap': 30, ' future bass': 30, ' indie electropop': 30, ' vapor soul': 30, ' vapor twitch': 30, ' pittsburgh rap': 30, 'boy band': 30, 'atl hip hop': 30, 'conscious hip hop': 20, ' escape room': 20, 'complextro': 20, ' german techno': 20, ' post-teen pop': 20, 'anime': 20, ' anime latino': 20, ' anime score': 20, 'detroit hip hop': 20, ' lo-fi chill': 20, ' focus beats': 20, 'japanese chillhop': 10, ' brostep': 10, ' dutch edm': 10, ' trance': 10, 'canadian hip hop': 10, ' toronto rap': 10, ' deep big room': 10, ' future house': 10, ' progressive electro house': 10}